<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,57}</string>
                <key>spriteSourceSize</key>
                <string>{78,57}</string>
                <key>textureRect</key>
                <string>{{1,1},{78,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ProgressBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,44}</string>
                <key>spriteSourceSize</key>
                <string>{484,44}</string>
                <key>textureRect</key>
                <string>{{233,1},{484,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ProgressBarBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,44}</string>
                <key>spriteSourceSize</key>
                <string>{484,44}</string>
                <key>textureRect</key>
                <string>{{233,47},{484,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThumbBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{126,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unchecked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{184,1},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WindowBorder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{60,1},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SetLayer.png</string>
            <key>size</key>
            <string>{718,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55a73e2b5d64b7f1e09eb321aa50c9a3:fb33bc15188c238fd5736cb8df5d1071:dbe1fc019759de7f012887d3a9ced356$</string>
            <key>textureFileName</key>
            <string>SetLayer.png</string>
        </dict>
    </dict>
</plist>
