<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ContinueGameNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{236,56}</string>
                <key>spriteSourceSize</key>
                <string>{346,86}</string>
                <key>textureRect</key>
                <string>{{1459,245},{236,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ContinueGameSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,86}</string>
                <key>spriteSourceSize</key>
                <string>{346,86}</string>
                <key>textureRect</key>
                <string>{{1283,1},{346,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HelpNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{120,58}</string>
                <key>spriteSourceSize</key>
                <string>{346,86}</string>
                <key>textureRect</key>
                <string>{{1517,245},{120,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HelpSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,86}</string>
                <key>spriteSourceSize</key>
                <string>{346,86}</string>
                <key>textureRect</key>
                <string>{{1283,349},{346,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NewGameNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,60}</string>
                <key>spriteSourceSize</key>
                <string>{346,86}</string>
                <key>textureRect</key>
                <string>{{1459,1},{242,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NewGameSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,86}</string>
                <key>spriteSourceSize</key>
                <string>{346,86}</string>
                <key>textureRect</key>
                <string>{{1371,1},{346,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SetNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{118,60}</string>
                <key>spriteSourceSize</key>
                <string>{346,86}</string>
                <key>textureRect</key>
                <string>{{1459,483},{118,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SetSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,86}</string>
                <key>spriteSourceSize</key>
                <string>{346,86}</string>
                <key>textureRect</key>
                <string>{{1371,349},{346,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>StartBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>StartLayer.png</string>
            <key>size</key>
            <string>{1576,722}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99f3b21f17f95ed9a36701b75d8ae63b:3de5c32627fa31576fe40185ab71ac23:d3864f5b199a30f8ce61efdf45d85c3c$</string>
            <key>textureFileName</key>
            <string>StartLayer.png</string>
        </dict>
    </dict>
</plist>
